$content_max_width : 1500px;

@include font-face("CopperplateGothic-Light", font-files("CopperplateGothic-Light.woff", "CopperplateGothic-Light.ttf", "CopperplateGothic-Light.svg", "CopperplateGothic-Light.eot"));


$main_color: red;
$secondary_color: #8accca;
$submit_bg : #b0d399;
$main_bg : #eae9f4;