{% extends '::base.html.twig' %}

{% block js %}
    <script src="{{ asset('js/jquery-1.11.1.js') }}"></script>
{% endblock %}
{% block body -%}
    <h1>Form creation</h1>

    {{ form(form) }}

    <a href="#" class="add_question">Ajouter une nouvelle question</a>

	<script>
	    $('a.add_question').on('click', function(event){
	        event.preventDefault();
	        
	        var collectionHolder = $('#forms_formbundle_form_question');
	        var prototype = collectionHolder.attr('data-prototype');
	        form = prototype.replace(/__name__/g, collectionHolder.children().length);
	        collectionHolder.append(form);
	    });
	</script>
{% endblock %}
