/* line 3, ../sass/back.scss */
body {
  color: red;
}

/* line 7, ../sass/back.scss */
h1 {
  font-size: 1.5em;
  text-decoration: none;
  margin-bottom: 15px;
}

/* line 14, ../sass/back.scss */
h2 {
  font-size: 1.2em;
  text-decoration: underline;
}

/* line 21, ../sass/back.scss */
nav {
  display: block;
  background: #eae9f4;
  margin-bottom: 30px;
}
/* line 29, ../sass/back.scss */
nav ul li {
  display: inline-block;
  margin-right: 25px;
  padding: 10px 0;
  font-size: 1.3em;
  text-transform: capitalize;
}
/* line 37, ../sass/back.scss */
nav ul li:last-child {
  margin-right: 0;
}

/* line 44, ../sass/back.scss */
.mini-nav {
  position: relative;
  float: right;
  font-size: 0.9em;
  padding: 8px 30px;
  margin: 8px 0 0;
  color: red;
  background: #eae9f4;
}
/* line 55, ../sass/back.scss */
.mini-nav ul {
  display: block;
  text-align: center;
}
/* line 59, ../sass/back.scss */
.mini-nav ul li {
  display: inline-block;
  padding: 0 15px;
  border-right: 1px solid black;
}
/* line 65, ../sass/back.scss */
.mini-nav ul li:first-child {
  padding-left: 0;
}
/* line 70, ../sass/back.scss */
.mini-nav ul li:last-child {
  border-right: 0;
  padding-right: 0;
}

/* line 83, ../sass/back.scss */
#bk-home nav ul {
  text-align: center;
}
/* line 86, ../sass/back.scss */
#bk-home nav ul li {
  display: inline-block;
  width: 28%;
  margin: 0 1.5%;
  padding: 0;
  border: none;
  height: 100px;
  background: rgba(0, 0, 0, 0.1);
  font-size: 1.5em;
  text-transform: uppercase;
  color: #ff3232;
  text-align: center;
  line-height: 100px;
  min-width: 150px;
  font-weight: bold;
}
/* line 103, ../sass/back.scss */
#bk-home nav ul li:hover {
  color: #ff3232;
  background: rgba(0, 0, 0, 0.6);
}
/* line 109, ../sass/back.scss */
#bk-home nav ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* line 119, ../sass/back.scss */
#bk-home .results {
  margin-top: 30px;
}
/* line 123, ../sass/back.scss */
#bk-home .results .result {
  margin: 0 1.5%;
}
/* line 128, ../sass/back.scss */
#bk-home .results .view-results {
  padding: 15px 5px;
  margin: 5px 0 15px;
  background: rgba(0, 0, 0, 0.2);
}
