/* line 5, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.21/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.21/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.21/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.21/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.21/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.21/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.21/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.21/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.0.alpha.21/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 6, ../sass/style.scss */
.clear {
  clear: both;
}

/* line 10, ../sass/style.scss */
a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

/* line 16, ../sass/style.scss */
.content {
  max-width: 1500px;
  margin: 0 auto;
}

/* line 22, ../sass/style.scss */
header {
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  margin-bottom: 30px;
}

/* line 29, ../sass/style.scss */
.logo {
  font-size: 50px;
  font-family: 'Helvetica', "Trebuchet MS", Tahoma, sans-serif;
  text-transform: uppercase;
  float: left;
  height: 50px;
  position: relative;
  line-height: 50px;
}
/* line 39, ../sass/style.scss */
.logo img {
  max-width: 100%;
  max-height: 50px;
  line-height: 50px;
}
/* line 46, ../sass/style.scss */
.logo a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 58, ../sass/style.scss */
footer {
  margin-top: 30px;
  width: 100%;
  min-height: 150px;
  background: #e6e6e6;
}

/* line 66, ../sass/style.scss */
main#user-home {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  background: #eae9f4;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
}
/* line 77, ../sass/style.scss */
main#user-home form div {
  height: 50px;
}
/* line 81, ../sass/style.scss */
main#user-home form label {
  display: inline-block;
  width: 100px;
}
/* line 87, ../sass/style.scss */
main#user-home form input {
  width: 160px;
  border: 1px solid #f9caa1;
  outline: none;
  padding: 5px;
}
/* line 96, ../sass/style.scss */
main#user-home form input[type=submit] {
  float: right;
}
