@import 'includes/back_vars';
@import 'compass';


body
{
	color:$main_color;
}
h1
{
	font-size: 1.5em;
	text-decoration: none;
	margin-bottom: 15px;
}

h2
{
	font-size: 1.2em;
	text-decoration: underline;
}


nav
{
	display: block;
	background:$main_bg;
	margin-bottom: 20px;

	ul
	{
		li
		{
			display: inline-block;
			margin-right: 25px;
			padding: 10px 0;
			font-size: 1.3em;
			text-transform: capitalize;

			&:last-child
			{
				margin-right: 0;
			}
		}
	}
}
.mini-nav
{
	position: relative;
	// top:35%;
	float: right;
	font-size: 0.9em;
	padding: 8px 30px;
	margin: 8px 0 0;
	color: $main_color;
	background:$main_bg;

	ul
	{
		display: block;
		text-align: center;
		li
		{
			display: inline-block;
			padding: 0 15px;
			border-right: 1px solid black;

			&:first-child
			{
				padding-left: 0;
			}

			&:last-child
			{
				border-right: 0;
				padding-right: 0;
			}
		}
	}
}

form
{
	line-height: 1.8em;
	label
	{
		display: inline-block;
		margin-right: 15px;
		font-size: 1.1em;
	}

	input[type=text], input[type=password], input[type=email]
	{
		border:none;
		outline: 1px solid rgba(255, 0, 0, 0.4);
		padding: 5px;
		color: #6795cb;
	}

	select
	{
		border:none;
		outline: 1px solid rgba(255, 0, 0, 0.4);
		padding: 0 5px;
	}
}

form > div > div:first-child
{
	margin-bottom: 0px;
}

#bk-home
{
	nav
	{
		ul
		{
			text-align: center;
			li
			{
				display: inline-block;
				width: 28%;
				margin:0 1.5%;
				padding: 0;
				border:none;
				height: 100px;
				background:rgba(0,0,0,0.1);
				font-size: 1.5em;
				text-transform: uppercase;
				color:$main_color + 50;
				text-align: center;
				line-height: 100px;
				min-width: 150px;
				font-weight: bold;

				&:hover
				{
					color: $main_color + 50;
					background:rgba(0,0,0,0.6);
				}

				a
				{
					display: inline-block;
					width: 100%;
					height: 100%;
				}
			}
		}
	}

	.results
	{
		margin-top: 30px;

		.result
		{
			margin:0 1.5%;
		}

		.view-results
		{
			padding: 15px 5px;
			margin: 5px 0 15px;
			background:rgba(0,0,0,0.2);
		}
	}
}

#create-test
{
	form
	{
		label
		{
			margin-bottom: 10px;

			&.time_label
			{
				margin: 0 20px 0 100px;
			}
		}

		input[type=text]
		{
			width:350px;
		}

		.link-buttons
		{
			margin-top: 30px;
			a
			{
				width:23%;
				text-decoration: underline;
				background:$secondary_color;
				@include border-radius(5px);
				margin: 0 0.5%;
				font-size: 0.8em;
			}
		}

		textarea
		{
			background:$dark_bg;
			resize:vertical;
			width: 100%;
		}

		.subsidiary
		{
			select
			{
				outline: 1px solid $secondary_color;
			}
		}

		.new-question
		{
			background:$main_bg;
			padding: 10px 15px;
			margin-top: 30px;
		}

		button[type=submit].btn.submit
		{
			display: table;
			margin-top: 30px;
			width: 90%;
			margin-right: auto;
			margin-left: auto;
		}
	}
}