{% extends '::back.html.twig' %}

{% block user_nav %}
    <aside class="mini-nav">
        <ul>
            <li>Bonjour {{ app.user.username|capitalize }}</li>
            <li><a href="#">Paramètres</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
        </ul>
    </aside>
{% endblock %}

{% block body %}{% endblock %}