{% block user_nav %}
		<aside class="mini-nav">
			<ul>
				<li><a href="#">Bonjour Khalid</a></li>
				<li><a href="#">Paramètres</a></li>
				<li><a href="#">Déconnexion</a></li>
			</ul>
		</aside>
{% endblock %}